# Copiar este archivo como ".env" y completar valores.

# Clave de autenticación (botón Authorize / candado en Swagger)
API_AUTH_KEY=UNFV_FIIS2026

# SQL
ConnectionStrings__conexion=Server=localhost;Database=DBLina;User Id=sa;Password=TU_PASSWORD;TrustServerCertificate=True

# Facturación APISUNAT
FacturacionSettings__PersonaId=
FacturacionSettings__PersonaToken=
FacturacionSettings__BaseUrl=https://back.apisunat.com

# ApiPeru
ApiPeru__BaseUrl=https://api.apiperu.pe/
ApiPeru__Token=

# Cloudinary
CloudinarySettings__CloudName=
CloudinarySettings__ApiKey=
CloudinarySettings__ApiSecret=
