# Copiar este archivo como ".env" y completar valores.

# Clave de autenticación (botón Authorize / candado en Swagger)
API_AUTH_KEY=UNFV_FIIS2026

# SQL
ConnectionStrings__conexion=Server=localhost;Database=dblina;User Id=sa;Password=#victor2704;TrustServerCertificate=True

# Facturación APISUNAT
FacturacionSettings__PersonaId=6a87fa0a0eb85700214637ca
FacturacionSettings__PersonaToken=DEV_j0tTPUTYC2wNmUQxaSxKKZK4Q3hJnqCkFJ46ChN4CEYjCNqhzwhPTKjALohNHuyl
FacturacionSettings__BaseUrl=https://back.apisunat.com

# ApiPeru
ApiPeru__BaseUrl=https://api.apiperu.pe/
ApiPeru__Token=a5841f83a57fc6cda145df8915f2a91a076764cf1f35e742cb32cc4d140c

# Cloudinary
CloudinarySettings__CloudName=
CloudinarySettings__ApiKey=
CloudinarySettings__ApiSecret=
